fastapi==0.110.0
uvicorn==0.29.0
opencv-python==4.9.0.80
numpy==1.26.4
pandas==2.2.1
torch==2.2.2
torchvision==0.17.2
tensorflow==2.15.0
transformers==4.39.3
librosa==0.10.1
vosk==0.3.45
fer==22.5.1
scikit-learn==1.4.1
pydantic==2.6.4
python-multipart==0.0.9
